In [8]:
import pandas as pd

In [9]:
main_file = pd.read_csv("../Resources/total_reddit_comments.csv")
main_df= pd.DataFrame(main_file)
main_df

,Unnamed: 0,body,created_utc,parent_id,date,polarity score,negative score,neutral score,positive score,Comment Score
0,0,DJ play â€žBob Sinclar - Rise Upâ€œ,1.612204e+09,t3_l9my4t,2021-02-01 18:29:59,0.3400,0.000,0.714,0.286,Positive
1,1,Fuck sndl... Why would you even mention that? ...,1.612204e+09,t1_glmoukc,2021-02-01 18:30:24,-0.5423,0.212,0.788,0.000,Negative
2,2,"I know, thatâ€™s what I do. Iâ€™m just saying it w...",1.612204e+09,t1_glmoj83,2021-02-01 18:30:32,0.7845,0.000,0.811,0.189,Positive
3,3,most of the people are here for the fast money,1.612204e+09,t1_glmp2ed,2021-02-01 18:30:42,0.0000,0.000,1.000,0.000,Neutral
4,4,I've seen similar questions answered in a few ...,1.612204e+09,t3_l9my4t,2021-02-01 18:30:55,0.5267,0.000,0.898,0.102,Positive
...,...,...,...,...,...,...,...,...,...,...
521243,521243,Doge to the mooooooonðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ .20 by morning les...,1.618383e+09,t3_mpyxzl,2021-04-14 06:50:41,0.0000,0.000,1.000,0.000,Neutral
521244,521244,"Just buy, these are tiny returns my guys",1.618383e+09,t3_mpyxzl,2021-04-14 06:50:59,0.0000,0.000,1.000,0.000,Neutral
521245,521245,Yâ€™all giving me anxiety just stop selling and ...,1.618384e+09,t3_mpyxzl,2021-04-14 06:58:38,-0.4215,0.301,0.583,0.117,Negative
521246,521246,$0.25 coming soon!!,1.618384e+09,t3_mpyxzl,2021-04-14 07:02:58,0.0000,0.000,1.000,0.000,Neutral
521247,521247,Good Lord what is happening in here?\n\nDogeco...,1.618384e+09,t3_mpyxzl,2021-04-14 07:04:45,0.8703,0.000,0.775,0.225,Positive

In [15]:
date_score_df = main_df[['created_utc', 'polarity score', 'Comment Score']]
date_score_df

         created_utc  polarity score Comment Score
0       1.612204e+09          0.3400      Positive
1       1.612204e+09         -0.5423      Negative
2       1.612204e+09          0.7845      Positive
3       1.612204e+09          0.0000       Neutral
4       1.612204e+09          0.5267      Positive
...              ...             ...           ...
521243  1.618383e+09          0.0000       Neutral
521244  1.618383e+09          0.0000       Neutral
521245  1.618384e+09         -0.4215      Negative
521246  1.618384e+09          0.0000       Neutral
521247  1.618384e+09          0.8703      Positive

[521248 rows x 3 columns]

In [26]:
date_score_df['polarity score']= date_score_df['polarity score'].astype(float)

<ipython-input-26-f79635584ace>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_score_df['polarity score']= date_score_df['polarity score'].astype(float)

In [23]:
date_score_df

         created_utc  polarity score Comment Score
0       1.612204e+09          0.3400      Positive
1       1.612204e+09         -0.5423      Negative
2       1.612204e+09          0.7845      Positive
3       1.612204e+09          0.0000       Neutral
4       1.612204e+09          0.5267      Positive
...              ...             ...           ...
521243  1.618383e+09          0.0000       Neutral
521244  1.618383e+09          0.0000       Neutral
521245  1.618384e+09         -0.4215      Negative
521246  1.618384e+09          0.0000       Neutral
521247  1.618384e+09          0.8703      Positive

[521248 rows x 3 columns]

In [35]:
date_score_df.to_csv("date_score.csv", index=True)

In [36]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html  (json orient types)

# This program assumes the csv file has a header. 
# In case of missing header in the csv file, we have to pass it explicitly to the program
csv_file = pd.DataFrame(pd.read_csv("date_score.csv", sep = ",", header = 0, index_col = False))
csv_file.to_json("polarity_data.json", orient = "values", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "s", default_handler = None)